/* Animation Helper*/

/* Hide on start */
.animation-box-background{
  width: 100%;
  height: 256px;
}
.animation-box{
  display: none;
  height: 0;
}
.animation-img{
  width: 256px;
  height: 256px; 
}
/* Small Screen like iPhone */
@media screen and (max-height: 500px), screen and (max-width: 500px) {

  .animation-box-background{
    width: 100%;
    height: 128px;
  }

  .animation-box{
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}
/* Section 0 - Block Master*/
.block-shield-img{
  margin-left: -128px;
  z-index: 10;
}
.block-stick-img{
  margin-left: -256px;
  z-index: 20;
}
/* Section 1 - Portal */
.portal-portal-img{
  margin-left: -256px;
}
.portal-orc-img{
  margin-left: -256px; 
}

/* Animation */
.block-shield-img, .portal-portal-img {
  -moz-animation-name: bump-img-transform-keyframes;
  -moz-animation-duration: 300ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50%, 50%;
  -ms-animation-name: bump-img-transform-keyframes;
  -ms-animation-duration: 300ms;
  -ms-animation-delay: 0ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50%, 50%;
  -o-animation-name: bump-img-transform-keyframes;
  -o-animation-duration: 300ms;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50%, 50%;
  -webkit-animation-name: bump-img-transform-keyframes;
  -webkit-animation-duration: 300ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50%, 50%;
  animation-name: bump-img-transform-keyframes;
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 50%, 50%;
}

/* Block Master */

.block-stick-img{
  animation: block-stick-img-transform-keyframes linear 1.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: block-stick-img-transform-keyframes linear 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: block-stick-img-transform-keyframes linear 1.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: block-stick-img-transform-keyframes linear 1.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: block-stick-img-transform-keyframes linear 1.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes block-stick-img-transform-keyframes{
  0% {
    opacity:0;
    transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  50% {
    opacity:1;
    transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  75% {
    transform:  translate(128px,0px)  rotate(-15deg) ;
  }
  100% {
    opacity:1;
    transform:  translate(256px,128px)  rotate(720deg) ;
  }
}

@-moz-keyframes block-stick-img-transform-keyframes{
  0% {
    opacity:0;
    -moz-transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  50% {
    opacity:1;
    -moz-transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  75% {
    -moz-transform:  translate(128px,0px)  rotate(-15deg) ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(256px,128px)  rotate(720deg) ;
  }
}

@-webkit-keyframes block-stick-img-transform-keyframes {
  0% {
    opacity:0;
    -webkit-transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  50% {
    opacity:1;
    -webkit-transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  75% {
    -webkit-transform:  translate(128px,0px)  rotate(-15deg) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(256px,128px)  rotate(720deg) ;
  }
}

@-o-keyframes block-stick-img-transform-keyframes {
  0% {
    opacity:0;
    -o-transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  50% {
    opacity:1;
    -o-transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  75% {
    -o-transform:  translate(128px,0px)  rotate(-15deg) ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(256px,128px)  rotate(720deg) ;
  }
}

@-ms-keyframes block-stick-img-transform-keyframes {
  0% {
    opacity:0;
    -ms-transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  50% {
    opacity:1;
    -ms-transform:  translate(512px,-256px)  rotate(-15deg) ;
  }
  75% {
    -ms-transform:  translate(128px,0px)  rotate(-15deg) ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(256px,128px)  rotate(720deg) ;
  }
}

/* Portal - Orc */
.portal-orc-img {
  -moz-animation-name: portal-orc-img-transform-keyframes;
  -moz-animation-duration: 1000ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50%, 50%;
  -ms-animation-name: portal-orc-img-transform-keyframes;
  -ms-animation-duration: 1000ms;
  -ms-animation-delay: 0ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50%, 50%;
  -o-animation-name: portal-orc-img-transform-keyframes;
  -o-animation-duration: 1000ms;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50%, 50%;
  -webkit-animation-name: portal-orc-img-transform-keyframes;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50%, 50%;
  animation-name: portal-orc-img-transform-keyframes;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 50%, 50%;
}
@-moz-keyframes portal-orc-img-transform-keyframes {
  0% {-moz-transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
  40% {-moz-transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  50% {-moz-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  60% {-moz-transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  70% {-moz-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-moz-transform:translate(128px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}
@-ms-keyframes portal-orc-img-transform-keyframes {
  0% {-ms-transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
  40% {-ms-transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-ms-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  50% {-ms-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-ms-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  60% {-ms-transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-ms-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  70% {-ms-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-ms-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-ms-transform:translate(128px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}
@-o-keyframes portal-orc-img-transform-keyframes {
  0% {-o-transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
  40% {-o-transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  50% {-o-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  60% {-o-transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  70% {-o-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-o-transform:translate(128px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}
@-webkit-keyframes portal-orc-img-transform-keyframes {
  0% {-webkit-transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
  40% {-webkit-transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  50% {-webkit-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  60% {-webkit-transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  70% {-webkit-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translate(128px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}
@keyframes portal-orc-img-transform-keyframes {
  0% {transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
  40% {transform:translate(0px, 0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  50% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  60% {transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  70% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translate(128px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}

/* ================== Common ================== */

/* Bump */
@-moz-keyframes bump-img-transform-keyframes {
  0% {-moz-transform:translate(0px, 0px) scale(0.3) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  33.33% {-moz-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  66.67% {-moz-transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-moz-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}
@-ms-keyframes bump-img-transform-keyframes {
  0% {-ms-transform:translate(0px, 0px) scale(0.3) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-ms-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  33.33% {-ms-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-ms-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  66.67% {-ms-transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-ms-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-ms-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}
@-o-keyframes bump-img-transform-keyframes {
  0% {-o-transform:translate(0px, 0px) scale(0.3) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  33.33% {-o-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  66.67% {-o-transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-o-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}
@-webkit-keyframes bump-img-transform-keyframes {
  0% {-webkit-transform:translate(0px, 0px) scale(0.3) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  33.33% {-webkit-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  66.67% {-webkit-transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}
@keyframes bump-img-transform-keyframes {
  0% {transform:translate(0px, 0px) scale(0.3) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  33.33% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  66.67% {transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0, 0);}
}