/* Primary style */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
	position: fixed;
	width: 100%;
	height: 100%;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
body{
	font-family: 'Helvetica Neue','Raleway', 'Helvetica', "Arial", "Lucida Grande", sans-serif;
	font-size: 100%;
	font-weight: 200;

	text-align:center;
	vertical-align:middle;
	text-decoration:none;

	background-color: #2E2D32;
	color: #fff;
}
nav, ol, ul, li, a{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
}
ol, ul {
	list-style: none;
}
.intro p{
	width: 80%;
	margin: 0 auto;
	color: #fff;
}
h1{
	width: 100%;
	color: #fff;
	margin:0;
	padding:0;
}
.svgBanner{
	height: 60px;
}
/* Grid Layout */

.row {
  display: block;
  /*margin: 0 -10px;*/
  /*margin-bottom: 10px;*/
  margin: 0;
  margin-bottom: 0;
}
.row:last-child {
  margin-bottom: 0;
}
/*[class*="col-"] {
  padding: 10px;
}*/
/*@media screen and ( min-width: 500px ) {*/
@media screen and (orientation: landscape){
	.row {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	[class*="col-"] {
		display: table-cell;
		vertical-align:middle;
	}
	/* set col widths */
	.col-1-1{
		width: 100%;
	}
	.col-2-3 {
		width: 66.66%;
	}
	.col-1-2 {
		width: 50%;
	}
	.col-1-3 {
		width: 33.33%;
	}
	.col-1-4 {
		width: 25%;
	}
	.col-1-8 {
		width: 12.5%;
	}
}

/* Styles*/
.section-desc-box{
	opacity: 0;
}
/* Fixed header and footer.
* --------------------------------------- */
#header{
	letter-spacing: 1px;
	font-size: 2em;
	position:fixed;
	height: 88px;
	line-height: 88px;
	display:block;
	width: 100%;
	text-align:center;

	background: #568D8A;
	color: #F9F9F9;
	opacity: 0.95;
	z-index:1000;

	cursor: pointer;

	/* Bottom corners */
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px; 

	/*Shadow*/
	-webkit-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.2);
	box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.2);

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;

	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);

	-webkit-perspective: 1000;

}
#header.move-up{
	-webkit-transform: translateY(-100%) scale(0.9);
	-moz-transform: translateY(-100%) scale(0.9);
	-ms-transform: translateY(-100%) scale(0.9);
	-o-transform: translateY(-100%) scale(0.9);
	transform: translateY(-100%) scale(0.9);
}
.header-menu-icon{
	margin-left: 1em;
	margin-right: -4em;
	float: left;
}
.header-menu-icon-close{
	display: none;
}
#footer{
	font-size: 1em;
	/*letter-spacing: 1px;*/
	position:fixed;
	height: 44px;
	line-height: 44px;
	display:block;
	width: 100%;
	text-align:right;
	color: #F9F9F9;
	padding: 0 0 0 0;
	bottom: -1px;
	text-decoration:none;
	cursor: pointer;
	z-index:1000;
}
.sectionDownTabHolder{
	position: relative;
	display:block;
	letter-spacing: 1px;
	/*font-size: 3em;*/
	position:absolute;

	width: 100%;
	height: 44px;
	text-align:center;
	color: #f2f2f2;
	bottom: -2px;
	/*margin-top: 2px;*/
	text-decoration:none;
	cursor: pointer;
	float:left;

	padding: 0 0 0 0;
	z-index:10;
}
.sectionDownTab, .sectionDownBottomRightCorner, .sectionDownBottomRightCornerInverse{
	display:inline-block;

	float:left;	
	bottom: 0px;
	height: 100%;
}
.sectionDownTab{	
	width: 30%;
	max-width: 200px;
	line-height: 44px;
	font-size: 1em;
	padding-right: 4px;
	/*Shadow*/
	-webkit-box-shadow: -4px -4px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -4px -4px 5px 0px rgba(0,0,0,0.2);
	box-shadow: -4px -4px 5px 0px rgba(0,0,0,0.2);

	/* Only round the top corners */
	-webkit-border-top-left-radius: 12px 30px ;
	-moz-border-radius-topleft: 12px 30px ;
	border-top-left-radius: 12px 30px ;

	-webkit-border-top-right-radius: 20px 40px;
	-moz-border-radius-topright: 20px 40px;
	border-top-right-radius: 20px 40px;
	z-index: 14;
}
.sectionDownBottomRightCorner{	
	width: 20px;
	margin-left: -1px;
	margin-top: 1px;
	background-color: #FFF;		
	z-index: 15;
}

.sectionDownBottomRightCornerInverse{
	width: 22px;
	margin-left: -21px;
	bottom: 0px;

	background-color: #FFF;
	z-index: 16;

	/* Bottom corners */
	-webkit-border-bottom-left-radius: 10px 30px;
	-moz-border-radius-bottomleft: 10px 30px;
	border-bottom-left-radius: 10px 30px;
}

/* Nav animation */
.section{
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;

	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#main-nav{
  /* by default it's hidden - on top of the viewport */
  position: absolute;
  z-index: 200;

  left: 0;
  top: 0;
  /*padding-top: 80px;*/
  /*padding-bottom: 80px;*/

  width: 100%;
  height: 100%;
  background: rgba(2, 23, 37, 0.99);
  
  text-align: center;
  padding: 120px 0;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%) scale(0.8);
  -moz-transform: translateY(-100%) scale(0.8);
  -ms-transform: translateY(-100%) scale(0.8);
  -o-transform: translateY(-100%) scale(0.8);
  transform: translateY(-100%) scale(0.8);

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#main-nav .nav-button, #main-nav .nav-icon-button{
  color: white;
  text-decoration: none;
  font-size: 2em;
  display: block;
  margin: 0.5em 2em;
  padding: .4em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  cursor: pointer;
}
.no-touch #main-nav .nav-icon-button:hover, .no-touch #main-nav .nav-button:hover {
  background-color: #e36767;
}
.main-nav-label{
  display: block;
  color: lime;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0em;
  margin-bottom: 1em;
}
#main-nav .nav-icon-button {
	display:inline-block;
	vertical-align:middle;
	text-align:center;

	width: 60px;
	height: 60px;

	margin: 0.5em;
	padding: 0;
}
#main-nav .nav-icon-button img {
  width: 48px;
  height: 48px;
  margin-top: 4px;
}
#main-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.nav-footer{
	font-size: 1em;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #FFFFFF;
	z-index: 10000;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	background-image: -webkit-gradient(
		linear,
		right top,
		left bottom,
		color-stop(0, #C22D2B),
		color-stop(1, #BF45E8)
	);
	background-image: -o-linear-gradient(left bottom, #C22D2B 0%, #BF45E8 100%);
	background-image: -moz-linear-gradient(left bottom, #C22D2B 0%, #BF45E8 100%);
	background-image: -webkit-linear-gradient(left bottom, #C22D2B 0%, #BF45E8 100%);
	background-image: -ms-linear-gradient(left bottom, #C22D2B 0%, #BF45E8 100%);
	background-image: linear-gradient(to left bottom, #C22D2B 0%, #BF45E8 100%);  
}
.nav-footer a{
	margin: 0;
	padding: 0;
	text-decoration:none;
}
/*Nav circle*/
#fp-nav{
	right: 0;
	left: 0;
	width: 30%;
}
.intro{
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
/*Overlay*/
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../res/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
/*.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}
*/
/* Effects */
.overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

/*.overlay-door nav {
	position: absolute;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.overlay-door nav,
.overlay-door .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.overlay-door.open nav,
.overlay-door.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.overlay-door.close nav,
.overlay-door.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}*/

/* Media */
/* Small Screen */
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-height: 600px),
       screen and (min-resolution: 192dpi) and (max-height: 600px),
       screen and (-webkit-min-device-pixel-ratio: 1) and (max-height: 500px),
       screen and (max-resolution: 192dpi) and (max-height: 500px){
	body{
		font-weight: 200;
	}
	#header{
		height: 44px;
		line-height: 44px;
		font-size: 1em;
	}
	#footer{
		height: 30px;
		line-height: 30px;
		font-size: 0.7em;	
	}
	#main-nav{
		padding: 0;
		padding-top: 60px;
	}
	.main-nav-label{
		font-size: 0.8em;
		margin-bottom: 0.3em;
		padding-top: 0.3em;
		padding-bottom: 0.1em;
	}
	.sectionDownTab{
		font-size: 0.7em;
	}
	.svgBanner{
		height: 30px;
	}
	#main-nav .nav-button, #main-nav .nav-icon-button{
	  font-size: 1em;
	  margin: 0.5em 1em;
	  padding: 0.4em 0.5em;
	}
	#main-nav .nav-icon-button{
		margin: 0.5em 0.1em;
	}
	#main-nav .nav-icon-button img {
	  width: 24px;
	  height: 24px;
	  margin-top: 3px;
	}
}
