/* Grid Layout */

.row {
  margin: 0 -10px;
  margin-bottom: 10px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
}
 
@media all and ( min-width: 600px ) {
  .row {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  [class*="col-"] {
    display: table-cell;
    vertical-align:middle;
  }
 
  /* set col widths */
  .col-1-1{
  	width: 100%;
  }
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-1-4 {
    width: 25%;
  }
  .col-1-8 {
    width: 12.5%;
  }
  .forceFullWidth{
  	width: 100%;
  	display: table-caption;
  }
}

/* Design */
body{

	font-family: 'Helvetica Neue','Raleway', 'Helvetica', "Arial", "Lucida Grande", sans-serif;
	font-size: 100%;
	font-weight: 300;

	text-align:center;
	vertical-align:middle;
	text-decoration:none;

	background-color: #2E2D32;
	color: #fff;
}
p{
}
.intro p{
	width: 80%;
	margin: 0 auto;
	color: #fff;
}

h1{
	width: 100%;
	color: #fff;
	margin:0;
	padding:0;
}
.svgBanner{
	height: 60px;
}
/* Fixed header and footer.
* --------------------------------------- */
#header{
	letter-spacing: 1px;
	font-size: 3em;
	position:fixed;
	height: 88px;
	line-height: 88px;
	display:block;
	width: 100%;
	background: #333;
	text-align:center;
	color: #F9F9F9;
	cursor: pointer;

	/* Bottom corners */
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px; 

	/*Shadow*/
	-webkit-box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.2);
	box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.2);

	z-index:10;
}
#footer{
	font-size: 1em;
	letter-spacing: 1px;
	position:fixed;
	height: 44px;
	line-height: 44px;
	display:block;
	width: 100%;
	text-align:right;
	color: #F9F9F9;
	padding: 0 0 0 0;
	bottom: -1px;
	text-decoration:none;
	cursor: pointer;
	z-index:9;
}
.sectionDownTabHolder{
	display:block;
	letter-spacing: 1px;
	/*font-size: 3em;*/
	position:absolute;

	width: 100%;
	height: 88px;
	z-index:5;
	text-align:center;
	color: #f2f2f2;
	bottom: 0px;
	text-decoration:none;
	cursor: pointer;
	float:left;

	padding: 0 0 0 0;
}
.sectionDownTab, .sectionDownBottomRightCorner, .sectionDownBottomRightCornerInverse{
	display:inline-block;
	position: relative;

	float:left;	
	bottom: 0px;
	height: 100%;
}
.sectionDownTab{
	
	/*Shadow*/
	-webkit-box-shadow: -3px -4px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -3px -4px 5px 0px rgba(0,0,0,0.2);
	box-shadow: -3px -4px 5px 0px rgba(0,0,0,0.2);

	/* Only round the top corners */
	-webkit-border-top-left-radius: 30px 50% ;
	-moz-border-radius-topleft: 30px 50% ;
	border-top-left-radius: 30px 50% ;

	-webkit-border-top-right-radius: 34px 70%;
	-moz-border-radius-topright: 34px 70%;
	border-top-right-radius: 34px 70%;
	z-index: 4;
}
.sectionDownBottomRightCorner{	
	width: 20px;
	margin-left: -1px;
	margin-top: 1px;
	background-color: #FFF;		
	z-index: 5;
}

.sectionDownBottomRightCornerInverse{
	width: 22px;
	margin-left: -21px;
	bottom: 0px;

	background-color: #FFF;
	z-index: 6;

	/* Bottom corners */
	-webkit-border-bottom-left-radius: 80% 70%;
	-moz-border-radius-bottomleft: 80% 70%;
	border-bottom-left-radius: 80% 70%;
}

/* Nav animation */
.section{
	/*Shadow*/
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);

	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.section.move-out{
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
