<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowUserScaling</key>
	<integer>1</integer>
	<key>createOfflineApplicationCache</key>
	<false/>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>338</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>fonts</key>
	<array/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2014-07-04T11:46:22Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>133</real>
		<key>mainWindowFrame</key>
		<string>4 46 1170 831 0 0 1440 878 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>534</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>5.1.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>mobileStatusBarStyle</key>
	<integer>0</integer>
	<key>oidCounter</key>
	<integer>4</integer>
	<key>resourcesInfo</key>
	<dict>
		<key>groups</key>
		<array/>
		<key>resources</key>
		<array/>
	</dict>
	<key>sceneScalePercentageSize</key>
	<string>{1, 1}</string>
	<key>sceneSize</key>
	<string>{760, 380}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>lastUserSelectedTimingFunction</key>
				<string>linear</string>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>3.2333333492279053</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1170, 534}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>2</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>378px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AutoresizingMask</string>
							<key>objectValue</key>
							<string>63</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientEndColor</string>
							<key>objectValue</key>
							<string>#FFFFFF</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientStartColor</string>
							<key>objectValue</key>
							<string>#99FA79</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>758px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientAngle</string>
							<key>objectValue</key>
							<string>45deg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#DDEEFF</string>
						</dict>
					</array>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>AutoresizingMask</string>
							<key>objectValue</key>
							<string>45</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Locked</string>
							<key>objectValue</key>
							<string>0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>5.96117</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>89px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#323232</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>&lt;div style="text-align: left;"&gt;C&lt;/div&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>103px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextAlign</string>
							<key>objectValue</key>
							<string>center</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>130px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowXOffset</string>
							<key>objectValue</key>
							<string>2px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontFamily</string>
							<key>objectValue</key>
							<string>Arial,Helvetica,Sans-Serif</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>615px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowColor</string>
							<key>objectValue</key>
							<string>#FFFFFF</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>64px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PointerEvents</string>
							<key>objectValue</key>
							<string>auto</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowBlurRadius</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowYOffset</string>
							<key>objectValue</key>
							<string>2px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>0.1666666716337204</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Co&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.1666666716337204</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;C&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>B2157D58-8DB6-45F3-803B-2830E518B2AF-14008-00001A759CF3CEBC</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.1666666567325592</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Com&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.3333333432674408</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Co&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>EF76F7A2-2701-49A0-A374-8284CA448569-14008-00001A76F631CB70</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666668653488159</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Comi&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Com&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9859847B-8BFB-4026-B14D-31548F84C394-14008-00001A7852DAEFA4</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666662693023682</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Comin&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.66666668653488159</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Comi&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>168BCEA3-2F31-4E0B-AD2C-CECA531D3BF8-14008-00001A7980532E7B</string>
								<key>zIndex</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666668653488159</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.83333331346511841</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Comin&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>433BFC4F-783C-4122-9C9A-ED2A542CC232-14008-00001A7A88D2D257</string>
								<key>zIndex</key>
								<integer>5</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666662693023682</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming S&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>67AA011E-A92E-45F5-AF06-80675637BBB5-14008-00001A7B96C7F1AD</string>
								<key>zIndex</key>
								<integer>6</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666674613952637</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming So&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.1666666269302368</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming S&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>D78B8F5B-1F69-4E80-A825-A2D1C9AC4F30-14008-00001A7CC9039E4C</string>
								<key>zIndex</key>
								<integer>7</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666662693023682</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soo&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.3333333730697632</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming So&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>A6A93850-CCD6-429C-AC1E-322F34181632-14008-00001A7E15B8754C</string>
								<key>zIndex</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666674613952637</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soon&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soo&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>5CFB7556-57BD-4646-A67B-C4D3DBD2F721-14008-00001A7F6D648663</string>
								<key>zIndex</key>
								<integer>9</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666650772094727</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soon.&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.6666667461395264</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soon&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>91AA1C12-B02C-4544-9937-045667A664B8-14008-00001A80771C4A9D</string>
								<key>zIndex</key>
								<integer>10</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666674613952637</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soon..&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.8333332538604736</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soon.&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>F21049BC-D96E-45FE-A3FA-4D3523F449A6-14008-00001A81787DB4E9</string>
								<key>zIndex</key>
								<integer>11</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.16666674613952637</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soon...&lt;/div&gt;</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soon..&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9DB7A163-C0D3-4BE0-9646-E25A72FA297A-14008-00001A828474BC44</string>
								<key>zIndex</key>
								<integer>12</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.36666655540466309</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>TextColor</string>
									<key>objectValue</key>
									<string>#FDFCFE</string>
								</dict>
								<key>identifier</key>
								<string>TextColor</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.1666667461395264</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>TextColor</string>
									<key>objectValue</key>
									<string>#323232</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>50112083-617E-425E-AE9A-0CFFF534A39A-14008-00001ACADE44B336</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.1666667461395264</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>&lt;div style="text-align: left;"&gt;Coming Soon...&lt;/div&gt;</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>A62CCE06-3D83-43DE-92E7-F3D29CFCA2AE-14008-00001A838CACAE8F</string>
								<key>zIndex</key>
								<integer>13</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.33333349227905273</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>TextColor</string>
									<key>objectValue</key>
									<string>#FEFA00</string>
								</dict>
								<key>identifier</key>
								<string>TextColor</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.5333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>TextColor</string>
									<key>objectValue</key>
									<string>#FDFCFE</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>1ADB5435-9906-4BC3-A57B-C3D6BC338331-14008-00001ACADE4B6751</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.33333325386047363</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>TextColor</string>
									<key>objectValue</key>
									<string>#000000</string>
								</dict>
								<key>identifier</key>
								<string>TextColor</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.8666667938232422</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>TextColor</string>
									<key>objectValue</key>
									<string>#FEFA00</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>0727727B-A112-42B4-B8C2-8DA0E18B806C-14008-00001ACD0A78CD6A</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>TextColor</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>3.2000000476837158</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>TextColor</string>
									<key>objectValue</key>
									<string>#000000</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>CDD4EEB6-44A1-44CE-9EDF-2578524C52CB-14008-00001ACF7154EFE1</string>
								<key>zIndex</key>
								<integer>4</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array/>
			<key>splitHeight</key>
			<real>534</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>shouldScaleSceneHeight</key>
	<true/>
	<key>shouldScaleSceneWidth</key>
	<true/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>showTapHighlight</key>
	<integer>1</integer>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>useInitialScale</key>
	<integer>0</integer>
	<key>useTouchEvents</key>
	<true/>
	<key>videoExportLoopPlayback</key>
	<true/>
	<key>viewportOption</key>
	<integer>0</integer>
	<key>webAppCapable</key>
	<integer>0</integer>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
